# Nuxt
.nuxt
.output
.data
.cache
dist

# Node
node_modules

# Env
.env
.env.*
!.env.example

# Editor
.DS_Store
.idea
.vscode

# Logs
*.log
npm-debug.log*

# Claude
.claude/settings.local.json
.screenshots/
